# Ignore everything in Final/data except additional_files and its contents
Final/data/*
!Final/data/additional_files/
!Final/data/additional_files/*.csv

# Ignore everything else not in the final structure
# Remove .DS_Store and RStudio junk
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store

# Explicitly allow key Rmd files
!Final/Final.Rmd
!Lab1/Lab1.Rmd
!Lab2/Lab2.Rmd
!README.md
